PORT=3000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/finview?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=change_this_to_a_random_string
SECRET_KEY=change_this_to_a_secret_key
PYTHON_PATH=python        # Windows: python | Linux: python3
WORKER_PATH=../python-worker/worker.py
SYNC_INTERVAL=5
